* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #A07070;
}

.container {
    margin: 100px 50px 30px 50px;
}

.parent-one {
    height: 585px;
    background: rgba(0, 0, 0, 0.2)url(img/Mountain\ Photo.png);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    color: #fefefe;
}

.parent-one .first-child {
    text-align: center;
    padding-top: 18%;
    margin: 0 auto;
}

.first-child p {
    margin-top: 40px !important;
    width: 51%;
    margin: 0 auto;
    font-size: 20px;
}

.parent-two {
    background-color: #fefefe;
    height: 180px;
}

.second-child p {
    text-align: center;
    padding-top: 70px;
    font-size: 30px;
    font-weight: bold;
    color: #6D6D6D;
}

.set {
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    font-size: 30px;
    font-weight: bold;
    height: 120px;
}

.setthis {
    border: none !important;
    width: 30%;
}
.setnewone{
    width: 40%;
    padding-left: 60px;
}
.setthisone{
    width: 30%;
    font-size: 28px !important;
}

.third-child {
    border-left: 1px solid #878787;
}

.parent-three a {
    text-decoration: none;
    color: #363636;
    padding: 0 120px;
    margin-top: 45px;
    display: block;
}